
body, html, #all { width: 100%; height: 100%; padding: 0; margin: 0; }
body.tab-edit { overflow:hidden; }
.vbox, .hbox { display: -webkit-box; display: -moz-box; display: box; }
.vbox { -webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical; }
.hbox { -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; }
.filler {box-flex: 1; -moz-box-flex: 1; -webkit-box-flex: 1;  } 

.hide, .ui-tabs-hide, .tab { display:none; }
body.tab-pages #tab-pages, body.tab-edit #tab-edit { display: inherit; }
body.tab-edit #rulers { display:block; }
body.tab-pages #all { display:block;}

a.active, a.active:hover { cursor: default; color:orange; }


#tabs {
	list-style: none;
	padding:0;
	margin:0;
	height:22px;
	margin-top:10px;
}
#tabs li {
	display: inline-block;
	border: solid;
	min-width:50px;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
	height:100%;
}
#tabs li a { padding: 0 1em; }

body.tab-pages #tabs li.tab-pages,
body.tab-edit #tabs li.tab-edit { background-color:#333; }
body.tab-pages #tabs li.tab-pages a,
body.tab-edit #tabs li.tab-edit a { color: #fff; }

#tab-pages { padding: 10px; width:90%; margin:0 auto; border:solid 2px;}
#create-page { margin-left:5px; padding-left:3px; border: solid 1px; margin-bottom:4px;}
#page-list { margin:0 auto; padding:0; }
#page-list li { display:inline-block; width: 150px; height:150px; border: 2px solid; margin: 5px; vertical-align:top; position:relative;}

#todo-content { padding-top:9px;}
#page-list .editing .display,
#page-list .edit {
  display: none;
}
#page-list .editing .edit {
  display: block;
  padding-left:4px;
}
    #page-list .editing input {
      width: 90%;
      line-height: 1.6em;
    }
  #page-list .check {
    position: relative;
    top: 9px;
    margin: 0 10px 0 7px;
    float: left;
  }
  #page-list .done .todo-content {
    text-decoration: line-through;
    color: #777777;
  }
  #page-list .todo-destroy {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: #ddd;
  }
    #page-list li:hover .todo-destroy {
      display: block;
    }
    #page-list .todo-destroy:hover {
      background: orangered;
    }


#scroller {overflow:scroll; background:grey; }
#scroller .filler {  }
#content { /*height:300px; width:600px;*/ background-color:white; position:relative; }

#header { height:50px; min-width: 300px;  }
#title h2 { overflow:hidden; border: solid 1px #ddd; height: 30px; line-height:30px; font-size:25px; margin-bottom:0; }
#header-content { border-bottom:2px solid; height:33px; }
#sidebar { width:150px; }

.props { width:70px; margin-left:5px; border: solid 1px; }
.props .header { border: solid 1px; margin:3px; }
#current-props {}
#global-props {}
#options { width:50px; height:300px; outline: solid 2px red; background-color:green; position:absolute;}

#rulers { position:absolute; top:0; left: 0; z-index:10; display:none; }
#ruler-x, #ruler-y { position:absolute; overflow:hidden; background:#ddd;}
#ruler-x { top: 34px; left: 150px; }
#ruler-y { top: 50px; left: 134px; bottom: 16px; }
#ruler-x div { height:16px; }
#ruler-y div { width:16px; }

#mirror, #c {  position:absolute; left: 0; top:0; }
#c { }
#mirror {z-index: 2; opacity:.8;}