.tab-container { height: 30px; border-bottom: solid 1px; }
.tab { display: block; float:left; height: 28px; border:solid 1px; width: 80px; }
#tabs { margin-top: 1em; height: 400px;}
	#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	
body, html, #container { margin:0; padding:0; height:100%;}
#container {
	font-size: 8pt;
	font-family: Verdana, Helvetica, Arial;
	color: #000000;
	position:relative;
}

#c { width: 600px; height:300px; border:1px; background: white; margin:0 auto; 
position:absolute; top:50%; left:50%;
}


#workarea {
	display: inline-table-cell;
	position:absolute;
	top: 75px;
	left: 40px;
	bottom: 10px;
	right: 10px;
	background-color: #A0A0A0;
	border: 1px solid #808080;
	overflow: auto;
	text-align: center;
	overflow-x: scroll; 
	overflow-y: scroll; 
	cursor: auto;
}


#svgcanvas {
    line-height: normal;
    display: inline-block;
    background-color: #A0A0A0;
    text-align: center;
    vertical-align: middle;
    width: 640px;
    height: 480px;
    -apple-dashboard-region:dashboard-region(control rectangle 0px 0px 0px 0px); /* for widget regions that shouldn't react to dragging */
    position: relative;
    /* 
      A subtle gradient effect in the canvas.
      Just experimenting - not sure if this is worth it.
    */
    background: -moz-radial-gradient(45deg,#bbb,#222);
    background: -webkit-gradient(radial, center center, 3, center center, 1000, from(#bbb), to(#222));
}

#rulers > div {
    position: absolute;
    background: #DDD;
    z-index: 1;
    overflow: hidden;
}

#ruler_corner {
    top: 76px;
    left: 41px;
    width: 15px;
    height: 15px;
}

#ruler_x {
    height: 15px;
    top: 76px;
    left: 56px;
    right: 26px;
    border-bottom: 1px solid;
    border-left: 1px solid #777;
}

#rulers.moved #ruler_corner,
#rulers.moved #ruler_x {
    top: 101px;
}

#ruler_y {
    width: 15px;
    top: 91px;
    left: 41px;
    bottom: 26px;
    border-right: 1px solid;
    border-top: 1px solid #777;
}

#rulers.moved #ruler_y {
    top: 116px;
}


#ruler_x canvas:first-child {
    margin-left: -16px;
}

#ruler_x canvas {
    float: left;
}

#ruler_y canvas {
    margin-top: -16px;
}

#ruler_x > div, 
#ruler_y > div {
    overflow: hidden;
}

